
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="https://tremplincoop.ma">
									JLPT Registration dashboard
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                         
                        - coded by <a target="_blank" href="https://tremplincoop.ma">Tremplin coop</a>
					</div>				
				</div>
            </footer>
            