<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>JLPT Registration Form.</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/index_assets/img/favicon.png" rel="icon">
  <link href="/static/index_assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/index_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/index_assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/index_assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/index_assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/index_assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/index_assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/index_assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo"><img src="/static/index_assets/img/logo.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero"><strong>Home</strong></a></li>
          <li><a class="nav-link scrollto" href="#about"><strong>About</strong></a></li>
          <li><a class="nav-link scrollto" href="#contact"><strong>Contact</strong></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h3>Welcome to <strong>JLPT</strong> Registration Form Hosted by:</h3>
      <h2>The Moroccan Association for Japanese Language and Culture (AMLCJ)</h2>
      <h2>To get started with your JLPT Registration, Click Get Started for more informations about how to register.</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About JLPT</h2>
          <h3>Learn More <span>AMLCJ et JLPT</span></h3>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p style="text-align: justify;">
              The Moroccan Association for Japanese Language and Culture (AMLCJ) is a non-profit organization founded by Moroccan teachers to promote Japanese language and culture in Morocco, providing support to local educators and fostering cultural appreciation. activities of the association cover four key areas: 
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> 1. JLPT (Japanese Language Proficiency Test).</li>
              <li><i class="ri-check-double-line"></i> 2. Speech Contest.</li>
              <li><i class="ri-check-double-line"></i> 3. Events.</li>
              <li><i class="ri-check-double-line"></i> 4. Liaison Point.</li>
            </ul>
            <a href="https://amlcj.ma" class="btn-learn-more">Learn More about AMLCJ</a>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p style="text-align: justify;">
              The Japanese-Language Proficiency Test (JLPT) is a standardized test designed to evaluate and certify the Japanese language proficiency of non-native speakers. Administered by the Japan Foundation and hosted by AMLCJ, the JLPT is held each first decembre sunday each year and comprises five levels, from N5 (basic) to N1 (advanced). The test assesses knowledge in three main areas: language knowledge (vocabulary and grammar), reading comprehension, and listening ability. Successfully passing the JLPT is often a requirement for university admission and employment in Japan, making it a valuable credential for students and professionals.
            </p>
            <a href="{{'/registration'}}" class="btn-learn-more">Start your registration</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Fees</h2>
          <h3>JLPT Registration <span>fees</span></h3>
          <p>In Morocco, the fees for the Japanese-Language Proficiency Test (JLPT) start at 250 MAD.</p>
        </div>

        <div class="row">
          <div class="col-lg-2 col-md-5">
            <div class="box">
              <h3>JLPT N5</h3>
              <h4><sup>Dhs</sup>250</h4>
            </div>
          </div>

          <div class="col-lg-2 col-md-5">
            <div class="box">
              <h3>JLPT N4</h3>
              <h4><sup>Dhs</sup>300</h4>
            </div>
          </div>

          <div class="col-lg-2 col-md-5">
            <div class="box">
              <h3>JLPT N3</h3>
              <h4><sup>Dhs</sup>350</h4>
            </div>
          </div>

          <div class="col-lg-2 col-md-5">
            <div class="box">
              <h3>JLPT N2</h3>
              <h4><sup>Dhs</sup>400</h4>
            </div>
          </div>

          <div class="col-lg-2 col-md-5">
            <div class="box">
              <h3>JLPT N1</h3>
              <h4><sup>Dhs</sup>450</h4>
            </div>
          </div>
      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title">
          <h2>F.A.Q</h2>
          <h3>Frequently Asked <span>Questions</span></h3>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Q1: What sort of examination is the Japanese-Language Proficiency Test? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                The Japanese-Language Proficiency Test (JLPT) is held in Japan and abroad to evaluate and certify the Japanese language proficiency of non-native speakers. It has been offered by Japan Educational Exchanges and Services (formerly Association of International Education, Japan) and the Japan Foundation since 1984.
                For more detailed information, including a summary of linguistic competence required for each level and statistics, please refer to the JLPT website which is jointly managed by Japan Educational Exchanges and Services and the Japan Foundation.              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Q2: Do I need to take the JLPT to be considered eligible for entry into a Japanese university or technical school? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                This depends on a school which you are making an application to. Please confirm with them first and take either the JLPT or the Examination for Japanese University Admission for International Students (EJU) by following their advice.              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Q3: How many times per year is the JLPT held? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                In Morocco, It is held once a year – in December.</p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Q4: Are there any restrictions as to who can take the JLPT? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                There is no age limit or restriction on nationalities. You may take the JLPT even if you have Japanese nationality as 
                long as you are a non-native Japanese speaker. There are, however, some exceptional circumstances when even native Japanese 
                speakers are asked to take the JLPT. This is usually when you need to file an application to the Japanese national license examination 
                and/or you have received primary and/or secondary education abroad. For more details, please contact the JLPT Application Center (tel. +81-03-6686-2974).</p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Q5: I am a naturalized citizen of Japan and have Japanese nationality. May I still take the JLPT? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                As long as you are a non-native Japanese speaker, you may take the JLPT regardless of your nationality.</p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Q6: Where are the JLPT test sites <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                The JLPT will be held in Rabat Morocco. However, as we cannot confirm the exact locations until just before the test date, we will notify you when we send out your test voucher.              </p>
            </div>
          </li>
          <li>
            <div data-bs-toggle="collapse" href="#faq7" class="collapsed question">Q7: I have a disease / a personal injury / disabilities etc. What should I do?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq7" class="collapse" data-bs-parent=".faq-list">
              <p>
                Please call the JLPT Application Center (+212 774274320) as soon as the application period starts to obtain a “Request Form for Special Accommodations” and apply for the special testing accommodations by mail. We provide necessary arrangement for your special needs by e.g. providing Braille papers enlarged print papers, special seating arrangement, headphones and extended answer time depending on your needs. However, please note that in some cases it may not be possible. Also most importantly we can only offer you special assistance if you have notified us when you send an application.              </p>
            </div>
          </li>
          <li>
            <div data-bs-toggle="collapse" href="#faq8" class="collapsed question">Q8 : what are the diffrents level of JLPT Test.<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq8" class="collapse" data-bs-parent=".faq-list">
              <p>
                N5: The easiest level, focusing on basic grammar, common kanji, and simple conversational phrases. For more information, <a href="{{ url_for('static', filename='/n5.pdf') }}" target="_blank">Click here.</a><br>
                N4: Tests elementary proficiency with more vocabulary, basic reading, and listening comprehension. For more information, <a href="{{ url_for('static', filename='/n4.pdf') }}" target="_blank">Click here.</a><br>
                N3: Intermediate level, introducing more complex grammar, kanji, and requiring the ability to understand everyday situations. For more information, <a href="{{ url_for('static', filename='/n3.pdf') }}" target="_blank">Click here.</a><br>
                N2: Advanced level, requiring a good grasp of nuanced grammar, extensive vocabulary, and the ability to comprehend everyday topics in various contexts. For more information, <a href="{{ url_for('static', filename='/n2.pdf') }}" target="_blank">Click here.</a><br>
                N1: The most difficult level, demanding near-native proficiency, with advanced grammar, extensive kanji knowledge, and the ability to understand complex materials and discussions. For more information, <a href="{{ url_for('static', filename='/n1.pdf') }}" target="_blank">Click here.</a><br>
                
              </p>

          </li>
        </ul>
      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <h3>Contact <span>Us</span></h3>
          <p>JLPT Morocco 2024 will be held in Rabat, The Exam center will be annouced soon;</p>
        </div>
<!--
        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div>
-->
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Rabat</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>jlpt@amlcj.ma</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+212 774274320</p>
              </div>

            </div>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>AMLCJ</h3>
              <strong>Phone:</strong> +212 774274320<br>
              <strong>Email:</strong>  Contact@amlcj.ma<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
            </ul>
          </div>   
          </div>
        </div>
      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/index_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/index_assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/index_assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/index_assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/index_assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/index_assets/js/main.js"></script>

</body>

</html>